body{
    font-family: "Brush Script MT", Brush Script Std, cursive;
}

h1{
    color: red;
    text-align: center;
    font-size: 50px;
}

a:hover{
    background-color: red;
    color: black;
    width: 200px;
    list-style: none;
}

li{
    font-size: 20px;
}