body{
    font-family: "Brush Script MT", Brush Script Std, cursive;
    background-image: url("https://c.tenor.com/6V1ooQVn3CQAAAAd/gachi-fist.gif");
    background-size: 100%;
    color: red;
}

h1{
    text-align: center;
    font-size: 50px;
}

a:hover{
    background-color: red;
    width: 200px;
    list-style: none;
    text-decoration: none;
}

a{
    color: crimson;
    text-decoration: underline;
    text-decoration-color: red;
}

li{
    font-size: 20px;
}

img{
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid red;
    margin: 20px;
    height: 220px;
    width: 200px;
}

.image{
    vertical-align: middle;
    width: 100%;
}
#collapse, .collapsed-button{
    visibility: hidden;
}

p:hover{
    width: 60px;
background-color: blue;
color: black;
}

.button{
    color: black;
    background-color: red;
    border: 1px solid red;
    float: right;
    font-size: 25px;
    margin: 3px;
    opacity: .3;
}

.button:hover{
cursor:pointer;
background-color: black;
color: red;
}

#musicList{
    height: 200px;
    overflow: auto;
}
#kostyl{
    height: 0px;
    width: 0px;
    visibility: hidden;
}
.navbar{
    height: 30px;
}
/*MQ start*/
@media(max-width: 768px){
    .collapsed-button{
        visibility: visible;
        float: right;
    }
    .collapsed-content{
     width: 100%;
     text-align: center;
     background-color: red;
     opacity: .5;   
    }
    .nav-content{
        display: none;
    }
    }
    @media (min-width: 769px) {
        #collapse .nav-min{
            visibility: hidden;
        }
    }
    /*MQ end*/
